/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Mobile-first styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #e0e0e0;
  color: #333;
}

/* Added background color */
body {
  background-color: #f0f5f5; /* Light blue-green background */
}

header {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

#home {
  text-align: center;
}

#resultScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#resultScreen.hidden {
  display: none;
}

#closeButton {
  margin-top: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Desktop styles */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  header {
    padding: 20px;
  }

  nav ul {
    justify-content: flex-start;
  }

  nav li {
    margin-right: 20px;
  }

  main {
    padding: 40px;
  }
}

.tumor-detected {
  color: red;
  font-weight: bold;
}